.chat-header {
	border-bottom: 1px solid var(--subtlegray);
	padding: 16px;
	display: inline-flex;
	padding-top: 17.5px;
}

.chat-header > * {
	font-weight: bold;
	flex: 0 0 auto;
}

.message-bar {
	height: auto;
	padding: 8px;
	border-top: 1px solid var(--subtlegray);	
}

.input-box {
	height: 33px;
	background: none;
	border: none;
	margin-left: 8px;
	outline: none;
	box-shadow: none;
	width: calc(100% - 64px);
	padding-right: 4px;
}

.chat-view {
	box-sizing: border-box;
	border: none;
	height: 100%;
	overflow-y: scroll;
	padding: 16px;
	padding-top: inherit;
	position: relative;
}

.btn#upload-button {
	color: rgba(255, 255, 255, 0.7);
}

.btn#upload-button:hover {
	color: whitesmoke;
}

.btn#upload-button:active {
	color: rgba(255, 255, 255, 0.6);
}

.btn#upload-button > i {
	font-size: 24px;
}

.input-view {
	padding: 8px;
	background-color: transparent;
	height: 48px;
	width: 100%;
	border-radius: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	display: flex;
	align-items: center;
}

.chat-subwindow {
	height: 100%;
}

.date-text {
	color: rgba(255, 255, 255, 0.5);
	font-size: 11px;
}

.message {
	padding-top: 8px;
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.message-singleton {
	word-wrap: anywhere;
	font-size: 98%;
	display: flex;
	flex-direction: column;
}

.name-display {
	font-size: 1rem;
}

.profile-image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.profile-container {
	margin-right: 16px;
	margin-top: 5px;
}

.hidden {
	display: none;
}

.upload-preview {
	height: 128px;
	width: 164px;
	object-fit: cover;
	border-radius: 8px;
}

.scroller {
	position: absolute;
	overflow-y: scroll;
	overflow-x: hidden;
}

.scroller-content {
	overflow-anchor: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: stretch;
	min-height: 100%;
	padding-bottom: 16px;
}

.message-bar-inner {
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.2);
	margin-bottom: 2px;
	border-radius: 4px;
}

.image-upload-view {
	padding: 8px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.08);
	position: relative;
}

.clear-button {
	background-color: rgb(23, 23, 23);
	padding: 0;
	display: flex;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 162px;
}

.clear-button:hover {
	background-color: rgb(34, 34, 34);
}

.message-image {
	border-radius: 8px;
	object-fit: cover;
	max-width: 500px;
	max-height: 250px;
	margin-bottom: 8px;
	cursor: pointer;
}

.viewer-image {
	object-fit: contain;
	max-height: 100%;
	max-width: 100%;
}

.viewer-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

::ng-deep div.image-viewer-modal > * {
	background: none;
	border: none;
}