<ng-template #imageViewer let-modal>
	<div class="viewer-container">
		<img class="viewer-image" src="{{imageURL}}">
	</div>
</ng-template>

<ng-template #channelUserList>
	<div class="user-viewer-list">
		<div class="user-display" *ngFor="let viewer of viewers">
			<img src="{{'http://localhost:3000/avatar/' + (viewer?.image || 'default.webp')}}" class="profile-image small">
			<span class="user-name" title="{{viewer.username}}">
				{{(viewer.username || "") | truncate : 26}}
			</span>
		</div>
	</div>
</ng-template>

<div class="d-flex flex-column chat-subwindow">
	<div class="container chat-header">
		<h5>
			{{chatTitle}}
			<i class="bi bi-record2 call-indicator" title="Call in progress" *ngIf="isCallRunning"></i>
		</h5>

		<div class="header-buttons">
			<div class="btn btn-link viewer-list-button" [ngbPopover]="channelUserList" popoverTitle="Current Users" container="body" placement="bottom-right" popoverClass="channel-viewer-view">
				<i class="bi bi-people"></i>
			</div>
			<div class="btn btn-link call-button" (click)="navigateToCall()">
				<i class="bi bi-telephone"></i>
			</div>
		</div>
	</div>
	<div #autoScroll class="chat-view container-fluid" (scroll)="onScroll()">
		<div class="scroller">
			<div class="scroller-content">
				<div class="message" *ngFor="let messageGroup of messages">
					<span class="profile-container">
						<img src="{{'http://localhost:3000/avatar/' + (messageGroup[0].author?.image || 'default.webp')}}" class="profile-image">
					</span>
					<span>
						<span class="name-display">
							{{messageGroup[0].author?.username}} <span class="date-text">[{{getDate(messageGroup[0].date)}}]</span>
						</span>
						<div class="message-singleton" *ngFor="let message of messageGroup">
							<span>{{message.text}}</span>
							<div class="image-container">
								<img class="message-image" *ngIf="message.image" src="{{'http://localhost:3000/uploads/' + message.image}}" (click)="openImageViewer('http://localhost:3000/uploads/' + message.image, imageViewer)">
							</div>
						</div>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="message-bar">
		<div class="message-bar-inner">
			<div class="image-upload-view" *ngIf="blobURL">
				<img class="upload-preview" src="{{blobURL}}">
				<div class="btn clear-button" (click)="clearUpload()">
					<i class="bi bi-x"></i>
				</div>
			</div>
			<div class="input-view">
				<label for="image-upload">
					<div class="btn btn-link" id="upload-button" title="Upload file">
						<i class="bi bi-plus-circle-fill"></i>
						<input class="file-input hidden" type="file" [(ngModel)]="fileInput" id="image-upload" accept="image/*" (change)="onFileChange($event)" />
					</div>
				</label>
				<input #messageInput class="input-box" (keyup.enter)="sendMessage($any($event).target.value)" [(ngModel)]="message" maxlength=2048 />
			</div>
		</div>
	</div>
</div>