<div class="d-flex flex-column chat-subwindow">
	<div class="container chat-header">
		<h5>
			{{chatTitle}}
		</h5>
	</div>
	<div class="chat-view container-fluid">
		<div class="message" *ngFor="let messageGroup of messages">
			<span class="profile-container">
				<img src="{{'http://localhost:3000/avatar/' + (messageGroup[0].author?.image || 'default.webp')}}" class="profile-image">
			</span>
			<span>
				<span class="name-display">
					{{messageGroup[0].author?.username}} <span class="date-text">[{{getDate(messageGroup[0].date)}}]</span>
				</span>
				<div class="message-singleton" *ngFor="let message of messageGroup">
					{{message.text}}
				</div>
			</span>
		</div>
	</div>
	<div class="message-bar">
		<div class="input-view">
			<div class="btn btn-link" id="upload-button" title="Upload file">
				<i class="bi bi-plus-circle-fill"></i>
			</div>
			<input class="input-box" (keyup.enter)="sendMessage($any($event).target.value)" [(ngModel)]="message" maxlength=2048 />
		</div>
	</div>
</div>