.login-modal {
	border: 1px solid var(--subtlegray);
	border-radius: 8px;
	width: 30%;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	padding: 32px;
	margin-top: 72px;
	padding-top: 0;
}

h4#login-header, h4#register-header {
	text-align: center;
	margin-bottom: 32px;
}

button[type="submit"] {
	width: 100%;
}

.tab-content {
	width: 100%;
	margin-top: 32px;
}

.nav-pills {
	margin-top: 16px;
}

.nav-pills .nav-link.active {
	border-bottom: 3px solid var(--bs-nav-pills-link-active-bg);
	background-color: transparent;
	color: #3880e8;
}

.nav-pills .nav-link {
	border-radius: 1px;
	border-bottom: 3px solid transparent;
	color: #fff;
}

.separator {
	border: 1px solid rgba(255, 255, 255, 0.05);
	margin: 4px;
	margin-top: 8px;
	margin-bottom: 8px;
}