.header {
	font-size: 11px;
	margin-top: 0;
	width: 100%;
	border-bottom: 1px solid var(--subtlegray);
	padding: 4px;
	padding-top: 2px;
	display: flex;
	justify-content: space-between;
}

.header > p {
	margin-bottom: 0;
}

.logout-button {
	font-weight: bold;
	cursor: pointer;
}