<ng-template #accountDialog>
	<div class="account-details-container">
		<div class="avatar-display">
			<img class="account-image" src="{{'http://localhost:3000/avatar/' + ((user | async)?.image || 'default.webp')}}">
			<label for="account-image-input">
				<div class="image-upload-button">
					<input class="file-input hidden" type="file" [(ngModel)]="fileInput" id="account-image-input" accept="image/*" (change)="onFileChange($event)" />
					<i class="bi bi-pencil-fill"></i>
				</div>
			</label>
		</div>
		<div class="account-details">
			<span class="account-name">
				{{(user | async)?.username}}
			</span>
			<span class="account-email">
				{{(user | async)?.email}}
			</span>
		</div>
	</div>
	<a class="logout-button" (click)="triggerLogout()">Logout</a>
</ng-template>

<ng-template #imgEditDialog let-modal>
	<div class="modal-body">
		<div class="cropper-container">
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="resetCropper()">Reset</button>
		<button type="button" class="btn btn-outline-primary" (click)="changeProfilePicture()">OK</button>
	</div>
</ng-template>

<span class="header">
	<p class="heading-text">3813ICT Chat Application</p>
	<button type="button" [ngbPopover]="accountDialog" [popoverTitle]="'Manage Account'" [autoClose]="'outside'" class="btn btn-outline-secondary account-button" *ngIf="(user | async)?.valid">
		<img class="account-image-icon" src="{{'http://localhost:3000/avatar/' + ((user | async)?.image || 'default.webp')}}">
		<span class="button-text">
			{{(user | async)?.username}}
		</span>
	</button>
</span>
<router-outlet />