/* You can add global styles to this file, and also import other style files */
:root {
	--subtlegray: #585858;
}

html, body {
	min-height: 100vh;
	height: 100vh;
	margin: 0;
	overflow-y: hidden;
}

app-chat {
	height: 100%;
	width: 100%;
	display: inline-block;
}