<ng-template #groupModal let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title" id="offcanvas-basic-title">Manage Group</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
		<h5>Group Information</h5>
		<div class="mb-4 group-name-form">
			<label for="group-name">Group Name</label>
			<div class="mb-3">
				<input [(ngModel)]="groupName" class="group-name-input" type="text" name="group-name" id="group-name" [disabled]="(user | getRoleNoAPI : targetID) == 'User'">
				<button class="group-name-input" type="submit" (click)="submitRenameGroup()" [disabled]="(user | getRoleNoAPI : targetID) == 'User'">Change</button>
			</div>
			<label for="join-code">Join Code</label>
			<div class="mb-3 join-code-view">
				<div class="join-code-box" name="join-code">{{convertGroupIdToCode(targetID)}}</div>
				<button class="join-code-box" type="submit" (click)="copyGroupCode(targetID)"><i class="bi bi-clipboard"></i></button>
			</div>
		</div>
		<h5>Users</h5>
		<div class="mb-4 list-view" id="user-list">
			<div class="user-list-item" *ngFor="let targetUserID of targetGroup?.joinRequests">
				<span class="user-name-display">
					<span class="subtle-text">Request :: </span>
					<span>{{targetUserID | getUsernameByID | async}}</span>
				</span>
				<span class="toolbar" *ngIf="(user | getRoleNoAPI : targetID) != 'User'">	
					<button (click)="approveRejectUser(true, targetUserID)" class="btn btn-link user-action-button" title="Approve">
						<i class="bi bi-check-circle"></i>
					</button>
					<button (click)="approveRejectUser(false, targetUserID)" class="btn btn-link user-action-button" title="Deny">
						<i class="bi bi-x-circle"></i>
					</button>
				</span>
			</div>
			<div class="user-list-item" *ngFor="let targetUserID of targetGroup?.users">
				<ng-container *ngIf="(targetUserID | getUser: changeDetectionTicket | async) as targetUser">
					<span class="user-name-display">
						<span class="subtle-text">{{targetUser | getRoleNoAPI : targetID}} :: </span>
						<span>{{targetUser.username}}</span>
					</span>
					<span class="toolbar" *ngIf="(user | getRoleNoAPI : targetID) != 'User' && !isMe(targetUserID)">
						<div ngbDropdown container="body" *ngIf="(targetUser | getRoleNoAPI : targetID) != 'Operator' || (user | getRoleNoAPI : targetID) == 'Operator'">
							<button class="btn btn-link user-action-button" title="Promote/Demote" ngbDropdownToggle>
								<i class="bi bi-arrow-down-up"></i>
							</button>
							<div ngbDropdownMenu>
								<button class="role-selector" [ngClass]="{'active': (targetUser | getRoleNoAPI: targetID) == 'Operator'}" ngbDropdownItem [disabled]="getHighestRole(targetID) < 2" (click)="promoteDemoteUser(targetUserID, 2)">Operator</button>
								<button class="role-selector" [ngClass]="{'active': (targetUser | getRoleNoAPI: targetID) == 'Admin'}" ngbDropdownItem [disabled]="getHighestRole(targetID) < 1" (click)="promoteDemoteUser(targetUserID, 1)">Admin</button>
								<button class="role-selector" [ngClass]="{'active': (targetUser | getRoleNoAPI: targetID) == 'User'}" ngbDropdownItem (click)="promoteDemoteUser(targetUserID, 0)">User</button>
							</div>
						</div>
						<button class="btn btn-link user-action-button" title="Kick" [disabled]="(targetUser | getRoleNoAPI : targetID) == 'Operator'" (click)="kickUser(targetUserID)">
							<i class="bi bi-ban"></i>
						</button>
					</span>
				</ng-container>
			</div>
		</div>
		<h5>Channels</h5>
		<div class="mb-4 list-view" id="user-list">
			<div class="user-list-item" *ngFor="let channel of targetGroup?.channels">
				<span class="user-name-display">{{channel.name}}</span>
				<span class="toolbar" *ngIf="(user | getRoleNoAPI : targetID) != 'User'">
					<button class="btn btn-link user-action-button" (click)="deleteChannel(channel.id)" title="Delete">
						<i class="bi bi-x-circle"></i>
					</button>
				</span>
			</div>
			<div class="user-list-item" *ngIf="(user | getRoleNoAPI : targetID) != 'User'">
				<input class="channel-name-input" [(ngModel)]="channelName" (keyup.enter)="submitCreateChannel()" (input)="onChannelInput($event)" placeholder="New channel">
			</div>
		</div>
		<h5>Actions</h5>
		<div class="d-grid gap-3 mb-3" *ngIf="(userID | getRoleByID : targetID | async) != 'Operator'">
			<button class="btn btn-outline-danger" (click)="leaveGroup()">Leave Group</button>
		</div>
		<div class="d-grid gap-3 mb-3" *ngIf="(userID | getRoleByID : targetID | async) != 'User'">
			<button class="btn btn-outline-danger" (click)="deleteGroup()">Delete Group</button>
		</div>
	</div>
</ng-template>

<ng-template #createGroupModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Create Group</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('')"></button>
	</div>
	<div class="modal-body create-group-input-bg">
		<input class="channel-name-input" [(ngModel)]="newGroupName" (keyup.enter)="createGroup()" placeholder="Group name">
	</div>
	<div class="modal-footer">
		<button type="button" class="group-modal-btn btn btn-outline-secondary" (click)="createGroup()">Create</button>
	</div>
</ng-template>

<ng-template #joinGroupModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Request to Join Group</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('')"></button>
	</div>
	<div class="modal-body create-group-input-bg">
		<input class="channel-name-input" [(ngModel)]="joinCode" (input)="onGroupCodeInput($event)" (keyup.enter)="requestJoinGroup()" placeholder="Group code" maxlength="8">
	</div>
	<div class="modal-footer">
		<button type="button" class="group-modal-btn btn btn-outline-secondary" (click)="requestJoinGroup()">Join</button>
	</div>
</ng-template>

<div class="main-window">
	<div class="container group-list" id="group-list" ngbAccordion>
		<div class="container group-list-header">
			<h5>
				Groups
			</h5>
			<div ngbDropdown>
				<button class="btn btn-link header-button" ngbDropdownToggle>
					<i class="bi bi-plus-lg"></i>
				</button>
				<div ngbDropdownMenu class="add-group-options">
					<button (click)="openCreateJoinGroup(joinGroupModal)" ngbDropdownItem>Join Group</button>
					<span class="horiz-sep"></span>
					<button (click)="openCreateJoinGroup(createGroupModal)" ngbDropdownItem *ngIf="hasAdminRole()">Create a Group</button>
				</div>
			</div>
		</div>
		<div class="container group-item" *ngFor="let group of groups | async" ngbAccordionItem>
			<h5 class="group-header" id="{{group.id}}" title="{{group.name}}" ngbAccordionHeader>
				<button id="{{group.id}}" ngbAccordionButton>
					{{group.name | truncate : 30}}
					<button class="server-settings-button btn btn-link" (click)="openSettings(groupModal, group.id)" title="Manage group" ngbAccordionToggle>
						<i class="bi bi-sliders"></i>
					</button>
				</button>
			</h5>
			<div ngbAccordionCollapse>
				<div class="container channel-item" *ngFor="let channel of group.channels" [routerLink]="'/home/channel/' + group.id + '::' + channel.id" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
					<p class="channel-text" id="{{channel.id}}">{{channel.name}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container chat-window">
		<router-outlet />
	</div> 
</div>